{
  "firefox": {
    "default": "@@VERSION@@",
    "versions": {
      "@@VERSION@@": {
        "image": ["/usr/bin/geckodriver", "--host", "::", "--port", "4444", "--log", "debug"]
        "port": "4444"
      }
    }
  }
}
